.swiper-container {
	width: 100%;
	height:100%;
	margin: -2px 0 0 0;
	padding: 0;
}
.swiper-container img{
	width: 100%;
}
.swiper-pagination-bullet-active{
	background: rgba(255,255,255,.5);
}
.page-index .wrap{
	margin-bottom: 17%;
} 
.nav1{
    position: absolute;
    display: flex;
    height: 1rem; 
    z-index: 1;
}
.modulearea{
	height: 90px; 
	background: #e3e7e8;
	width: 100%;
}
.modulearea ul{
	width: 100%;
	height: 90px;
	overflow: hidden;
}
.modulearea li{
	width:33.33%;
	float: left;
	text-align: center;
	height: 90px;
	font-size: 1.2em; 
	color: #626262;
	background: white;
	border-right: 1px solid #e3e7e8; 
	padding-top:4.7%;
	box-sizing: border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
@media (max-width: 375px) {
	.modulearea li{
		padding-top:3.5%;
	}
}
.modulearea li:nth-last-child(1){
	border: none;
}
.modulearea li img{
    width:33%;
}
.modulearea li span{
	display: block;
    padding-top: 6px;
    font-size: 15px;
}
.swiper-container3{
	margin-top:3%;
	overflow: hidden;
}
.swiper-slide img{
	width: 100%;
}
.fen {
	height: 5px;
	background: #F0EEEE;
}
.tab_nav {
	min-height: 40px;
	background:white;
	border-bottom: 1px solid #eee;
	overflow: hidden;
}
.tab_nav span{
	display: block;
	font-size: 15px;
	height: 30px;
	line-height: 30px;
	margin:5% 0 0 10%;
	color: black;
}
.tab_nav .swiper-slide{
	text-align: center;
	line-height: 30px;
	background: white;
	border-bottom:1px solid #ddd;
}
.tab_nav .active-nav span{
	color: #73181d;
}
.tab_box li{
	position: relative;
	height:auto;
	width:100%;
	margin:0 auto;
	text-align:left;
	background:#fff;
	border-bottom:1px solid #F0EEEE;
	padding:1% 2%;
}
.tab_box li div{
	float:left;
}
.tab_box li .tab_con_1{
	width:120px;
	height:90px;
	margin: 2px 0;
	position: relative;
}
.tab_box li .tab_con_1 img{
	width:100%;
	height:100%;
}
.tab_box li .tab_con_2{
	width: 57%;
	height: 100%;
	color: gray;
	padding-left: 2%;
	/*margin-top: 2%;*/

}
.tab_box li .tab_con_2 h3{
	font-size:15px;
	font-weight: 400;
	padding-top: 2%;
	color: #626262;
	display: -webkit-box;
	text-overflow: ellipsis;
	overflow : hidden;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}
.tab_box li p{
	display: -webkit-box;
	text-overflow: ellipsis;
	overflow : hidden;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.tab_box li .tab_con_2 h3 i{
	color:#e9b150
}
.tab_con_mark{
	margin-top:10px;
	width: 100%;
}
.tab_con_mark span:nth-of-type(2){
	float: right;
	padding-right: 6px;
}
.tab_con_mark span:nth-of-type(3){
	position: absolute;
	bottom: 8%;
	font-size:10px;
}
.tab_con_mark span:nth-of-type(3) i{
	font-size: 15px;
	font-weight: 800;
}
.tab_box li .tab_con_2 .tab_con_describe{
	margin-top:3%;
	width:100%;
	height:auto;
	overflow:hidden;
	text-overflow:ellipsis;
	font-size: 12px;
	color: #acacac;
}

