.enter-num span{
    height: 3.18rem;
    line-height: 3.18rem;
    background: #fff;
    padding-left: .81rem;
    position: relative;
    display: block;
    font-size: 1.11rem;
}
.enter-num span a{
    width: 4.74rem;
    height: 1.92rem;
    font-size: .82rem;
    line-height: 1.92rem;
    text-align: center;
    border:1px solid #9b3539;
    color: #9b3539;
    border-radius:4px;
    margin-right: .74rem;
    position: absolute;
    top:18%;
    right: 2%;
}
.enter-num span:nth-of-type(1){
    color: #323232;
}
.enter-num span:nth-of-type(2){
    color: #646464;
}
.remind{
    padding:.49rem 0;
    color: #fff;
    background: #9b3539;
    font-size: .89rem;
    padding-left: 8%;
    position: relative;
    margin-bottom:.6rem;
}
.remind i{
    width: 1.6rem;
    height: 1.8rem;
    position: absolute;
    left: 1%;
    background: url("../../img1.0/index_icon.png") 0 -15.8rem no-repeat;
    background-size: 4rem;
}
@media (min-width: 360px) {
    .remind i{
         top:15%;
    }
}
@media (min-width: 768px) {
    .remind i{
        top:2%;
    }
}
.content{
    background: #fff;
}
.content_a{
    display: -webkit-flex;
    -webkit-align-items: center;
    align-items: center;
    padding: .71rem 0;
    position: relative;
    border-bottom: 1px solid #ddd;
}
.content_a p:nth-of-type(1){
    margin-left: 1.11rem;
}
.content_a p:nth-of-type(1) strong{
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 50%;
    display: inline-block;
}
.content_a p:nth-of-type(2){
    margin-left: 1.78rem;
}
.content_a p:nth-of-type(2) strong{
    font-size: 1.11rem;
    color: #323232;
    display: inline-block;
    padding-right: .81rem;
    line-height: 1.78rem;
}
.content_a p b{
    font-size: 1.04rem;
    color: #898989;
    line-height: 1.78rem;
}
.content_a p span{
    font-size: 1.04rem;
    color: #656565;
    line-height: 1.48rem;
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow : hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    padding-right: 2.07rem;
}
.content_a p em{
    font-size: .815rem;
    padding: .18rem .73rem;
    border:1px solid #9b3539;
    color: #9b3539;
    border-radius:4px;
    display: inline-block;
    margin-top: 6px;
}
.arrow{
    position: absolute;
    right: 10px;
    top:37%;
}
